.spacer5{
  height: 5vh;
}
.example-full-width {
  width: 400px;
  padding-left: 20px;
}
.p-20{
  padding-left: 20px;
}
.amazingImage{
  width: 100%;
  height: 500px;
}
.amazingHeader{
  font-size: 36px;
  color: #3a3a3a;
  
}
.amazingText{
  font-size: 16px;
  color:#3a3a3a;  
}
mat-icon {
  vertical-align: middle;
  border: 2px #3a3a3a solid;
  border-radius: 3px;
}

.alignCenter{
  text-align: center;
}

.m-20{
  margin-top: 20px;
}